body{
  font-family: sans-serif;
  background-color: #0e0e10;
}

.App {
  text-align: center;
  color: whitesmoke;
}

/* 
/////////
HEADER
///////// 
*/

.headerTop {
  background-color: #18181b;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-size: 14px;
  border-bottom: 2px solid #0e0e10;
  font-weight: bold;
}

.listMenu {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.liensNav{
  list-style-type: none;
  padding: 0 10px;
}

.liensNav:nth-child(4){
  margin: O auto;
  flex-shrink: 1;
  width: 600;
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translate( -50%, 0);
}

.logo{
  margin-top: 5px;
  height: 35px;
}

.formSubmit {
  display: flex;
  flex-shrink: 1;
}

.logoSearch {
  width: 20px;
}

.inputSearch {
  width: 250px;
  background-color: #18181b;
  border: 1px solid rgb(171, 171, 171);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 10px;
}

.liensNav button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 20px;
  border: none;
  background-color: #2f2f35;
}

.menuResBtn {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  color: whitesmoke;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menuIco {
  width: 25px;
}

@media (orientation: portrait) {
  .liensNav:nth-child(4){
    position: relative;
    left: auto;
    transform: none;
  }
}

/* 
/////////
SIDEBAR
///////// 
*/

.sidebar {
  position: fixed;
  top: 50px;
  width: 239px;
  background-color: #1f1f23;
  height: 100vh;
}

.titleSidebar {
  padding: 20px 0 10px 10px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.2;
}

.listStream {
  padding: 0 0 0 10px;
}

